<h1>Listing foos</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Middle</th>
      <th>Last</th>
    </tr>
  </thead>

  <tbody>
    <% @foos.each do |foo| %>
      <tr>
        <td><%=foo.first_name %></td>
        <td><%=foo.middle_name %></td>
        <td><%=foo.last_name %></td>
        <td><%= link_to 'Show', foo %></td>
        <td><%= link_to 'Edit', edit_foo_path(foo) %></td>
        <td><%= link_to 'Destroy', foo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo', new_foo_path %>
