<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 
<html lang="en" ng-app="spinner"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

    <body class="antialiased off-canvas hide-extras">

    <!-- Header and Nav -->
     <nav class="top-bar hide-for-small">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="#"><img src="assets/deployment_framework.png" /></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="/grid.php">Reports</a></li>
          <li class="divider"></li>
          <li><a href="/templates.php">Audit</a></li>
          <li class="divider"></li>
          <li><a href="/case-jacquelinewest.php">Compare</a></li>
          <li class="divider"></li>
          <li class="has-form">
            <a href="http://foundation.zurb.com/docs" class="button">New Deployment</a>
          </li>
        </ul>
      </section>
    </nav>



    <!-- End Header and Nav -->
    <div class="row">
      <div ng-controller="SpinnerCtrl" ng-cloak>     
        <div class="large-3 columns ">
          <div class="panel">
            <h5><a>Menu</a></h5>
              <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
              <section class="section">
                <h5 class="title" ng-click="poos()"><a>Dashboard</a></h5>
              </section>
              <section class="section">
                <h5 class="title" ng-click="validation()"><a>Validation</a></h5>
              </section>
              <section class="section">
                <h5 class="title" ng-click="osbservices()"><a>OSB Services</a></h5>
              </section>
              <section class="section">
                <h5 class="title" ng-click="validationTracker()"><a>Validation Tracker</a></h5>
              </section>
              <section class="section">
                <h5 class="title" ng-click="osbtracker()"><a>Deployment Tracker</a></h5>
              </section>
              <section class="section">
                <h5 class="title"ng-click="deployment()"><a>Deployment</a></h5>
              </section>
            </div>
          </div>
        </div>

        <!-- Main -->
        <div class="large-9 columns" >
          <div class="row">
            <div class="large-12 columns">
              <div ng-show="myosbs" >
                <table>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Server</th>
                        <th>Version</th>
                        <th>Harvested</th>
                        <th>Created</th>                    
                      </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="service in myosbs"> 
                        <td>{{service.name}}</td>
                        <td>{{service.server}}</td>
                        <td>{{service.version}}</td>                
                        <td>{{service.harvested_at}}</td>     
                        <td>{{service.created_at}}</td>     
                      <tr>
                    </tbody>
                  </table>
                </div> <!-- ng-hide section -->

              <div ng-show="tracker" >
                <table>
                    <thead>
                      <tr>
                        <th>Config</th>
                        <th>Server</th>
                        <th>tag</th>
                        <th>artifacts</th>
                      </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="track in tracker"> 
                        <td>{{track.environment_config}}</td>
                        <td>{{track.server}}</td>
                        <td>{{track.tag}}</td>                
                        <td>{{track.artifacts}}</td>     
                      <tr>
                    </tbody>
                  </table>
                </div> <!-- ng-hide section -->

                <div ng-show="validation">
                  <h2>{{valid_message}}</h2>
                </div>  <!-- ng-hide section -->

                <div ng-show="poos" >
                  <h2 ng-repeat="poo in poos">{{poo}}</h2>
                </div>  <!-- ng-hide section -->
            </div>
          </div>
      </div> <!-- End main -->
    </div> <!-- end ng-controller -->
  </div>  <!-- end row -->
     
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
